/* importing roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    background: #15212c;
    height: 1168.5px;
    display: flex;
}
 /* styling all icons */
 .material-symbols-outlined{
    color: white;
    height: 30px;
    width: 30px;
    fill: white;
    font-weight: 500;
 }
/* styling the sidebar */
.sidebar{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 28%;
    border-right: 1px solid rgb(56, 68, 77);
    position: fixed; 
    top: 0; 
    left: 0; 

}
.sidebar-items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 260px;
    margin-left: auto;
    height: 100%;
    padding: 15px;
    overflow: none;
}

.sidebar-top{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-height: 1090px;
    
}

.sidebar-logo{
    padding: 10px;
    height: 48px;
    width: 54px;
}

.sidebar-logo:hover{
    cursor: pointer;
    background: #1da1f214;
    border-radius: 50%;
}

.sidebar-logo img{
    height: 28px;
    width: 34px;
}

.sidebar-section{
    /* width: 112px; */
    height: 48px;
    color: white;
    padding: 10px;
    margin: 0 0 8px;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 99999px;
    border-top-left-radius: 99999px;
    border-bottom-right-radius: 99999px;
    border-top-right-radius: 99999px;
    padding: 10px;
    transition-property: background;
    transition-duration: 0.3s;
}

.sidebar-section:hover{
    color:#1da1f2;
    background: #1da1f214;
    cursor: pointer;
}



.sidebar-name{
    margin: 0 0 0 10px;
    font-size: 1.25rem;
    font-weight: 600;
}

.sidebar-button{
    color: white;
    background-color: #1ea1f1;
    border: none;
    padding: 10px 30px;
    font-weight: 700px;
    font-size: 1.15rem;
    border-bottom-left-radius: 99999px;
    border-top-left-radius: 99999px;
    border-bottom-right-radius: 99999px;
    border-top-right-radius: 99999px;
}

.sidebar-button:hover{
    background-color:  #1687cd ;
    cursor: pointer;
}

/* styling the bottom of the side-bar */
.sidebar-bottom{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding: 15px;
}

.sidebar-bottom:hover{
    background: #1da1f214;
    cursor: pointer;
    border-bottom-left-radius: 99999px;
    border-top-left-radius: 99999px;
    border-bottom-right-radius: 99999px;
    border-top-right-radius: 99999px;
}

.profile-info{
    display: flex;
}

.profile-image{
    border-radius: 400px;
    height: 48px;
    width: 48px;
}

.profile-name{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 130px;
    padding-left: 8px;
}

.main-name{
    font-weight: 700;

}

.personal-id{
    color: rgb(136, 153, 166);
    font-size: 0.9rem;
}

